.dark-edition .table>thead>tr>th {
  font-weight: bold;
  color: pink;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dark-edition .table>tbody>tr>td {
  font-weight: bold;
  color: white;
}
